{% extends "base.tpl.html" %}

{% block content %}
<div class="container text-center">

    <div class="row justify-content-start">
        {% if pokemons %}

            {% for pokemon in pokemons %}
            <div class="col-3">
                <div class="card mb-3" style="width: 18rem;">

                    {# show pokemon's image #}
                    <a href="/pokedex/{{ pokemon.pokedex_number }}">
                        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{ "%03d" | format(pokemon.pokedex_number) }}.png"
                            title="{{ pokemon.name }}" alt="{{ pokemon.name }}" class="card-img-top text-bg-light">
                    </a>

                    <div class="card-body pokemon-info">
                        {# pokemon's name and pokedex number #}
                        <p class="card-text pokemon-pokedex-nmber">
                            <small class="text-muted">#{{ "%03d" | format(pokemon.pokedex_number) }}</small>
                        </p>
                        <h2 class="card-title pokemon-name">{{ pokemon.name }}</h2>

                        {# differrent collors for different type1 #}
                        {% if pokemon.type1 in ["grass", "bug"] %}
                            <span class="badge text-bg-success w-25">{{ pokemon.type1 | title }}</span>
                        {% elif pokemon.type1 in ["fire"] %}
                            <span class="badge text-bg-danger w-25">{{ pokemon.type1 | title }}</span>
                        {% else %}
                            <span class="badge text-bg-primary w-25">{{ pokemon.type1 | title }}</span>
                        {% endif %}

                        {# differrent collors for different type2 #}
                        {% if pokemon.type2 %}
                            {% if pokemon.type2 in ["fire", "fighting", "poison"] %}
                                <span class="badge text-bg-danger w-25">{{ pokemon.type2 | title }}</span>
                            {% else %}
                                <span class="badge text-bg-secondary w-25">{{ pokemon.type2 | title }}</span>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
            </div>
            {% endfor %}

        {% else %}
            <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
                <h2>Pokémon sa nenašiel :-(</h2>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
